Análisis Nacidos Vivos Registrados 2018

RECOLECCIÓN Y PREPARACIÓN DE DATOS

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:

# URL del archivo CSV
url = 'https://raw.githubusercontent.com/gagabriela2787/Grupo7ISPC/main/nacidos-vivos-registrados-2018_deis.csv'

# Leer el archivo CSV desde la URL
df = pd.read_csv(url)

ANÁLISIS EXPLORATORIO

In [3]:
# Tamaño de la matriz de datos (filas, columnas)
df.shape

(30099, 15)

In [4]:
# Mostrar todas las columnas
print(df.columns)

Index(['jurisdiccion_de_residencia_id', 'jurisdiccion_de_residencia_nombre',
       'tipo_de_parto_id', 'tipo_de_parto_nombre', 'sexo', 'sexo_nombre',
       'edad_de_la_madre_grupos_id', 'edad_de_la_madre_grupos_nombre',
       'semanas_de_gestacion_id', 'semanas_de_gestacion_nombre',
       'instruccion_de_la_madre_id', 'instruccion_de_la_madre_nombre',
       'Intervalos_de_peso_al_nacer_id', 'intervalos_de_peso_al_nacer_nombre',
       'cantidad_nacimientos'],
      dtype='object')

In [5]:
#Primera descripción general de los datos
df.describe()

,jurisdiccion_de_residencia_id,tipo_de_parto_id,sexo,edad_de_la_madre_grupos_id,semanas_de_gestacion_id,instruccion_de_la_madre_id,Intervalos_de_peso_al_nacer_id,cantidad_nacimientos
count,30099.000000,30099.000000,30099.000000,30099.000000,30099.000000,30099.000000,30099.000000,30099.000000
mean,42.405528,1.226120,1.663610,4.524968,5.487093,4.772351,5.763015,22.771321
std,30.808996,0.739671,1.204007,1.831169,1.155895,1.844638,1.850774,122.235335
min,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,14.000000,1.000000,1.000000,3.000000,5.000000,3.000000,5.000000,1.000000
50%,38.000000,1.000000,2.000000,4.000000,6.000000,5.000000,6.000000,2.000000
75%,70.000000,1.000000,2.000000,6.000000,6.000000,6.000000,7.000000,7.000000
max,99.000000,9.000000,9.000000,9.000000,8.000000,8.000000,9.000000,4512.000000

PROCESAMIENTO Y ANÁLISIS DE DATOS

CONSULTAS Y GRÁFICOS

RESULTADOS:

CONCLUSIONES: