Análisis Nacidos Vivos Registrados 2018

RECOLECCIÓN Y PREPARACIÓN DE DATOS

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:

# URL del archivo CSV
url = 'https://raw.githubusercontent.com/gagabriela2787/Grupo7ISPC/main/nacidos-vivos-registrados-2018_deis.csv'

# Leer el archivo CSV desde la URL
df = pd.read_csv(url)

ANÁLISIS EXPLORATORIO

In [ ]:
# Tamaño de la matriz de datos (filas, columnas)
df.shape

(30099, 15)

In [ ]:
# Mostrar todas las columnas
print(df.columns)

Index(['jurisdiccion_de_residencia_id', 'jurisdiccion_de_residencia_nombre',
       'tipo_de_parto_id', 'tipo_de_parto_nombre', 'sexo', 'sexo_nombre',
       'edad_de_la_madre_grupos_id', 'edad_de_la_madre_grupos_nombre',
       'semanas_de_gestacion_id', 'semanas_de_gestacion_nombre',
       'instruccion_de_la_madre_id', 'instruccion_de_la_madre_nombre',
       'Intervalos_de_peso_al_nacer_id', 'intervalos_de_peso_al_nacer_nombre',
       'cantidad_nacimientos'],
      dtype='object')

In [ ]:
#Primera descripción general de los datos
df.describe()

,jurisdiccion_de_residencia_id,tipo_de_parto_id,sexo,edad_de_la_madre_grupos_id,semanas_de_gestacion_id,instruccion_de_la_madre_id,Intervalos_de_peso_al_nacer_id,cantidad_nacimientos
count,30099.000000,30099.000000,30099.000000,30099.000000,30099.000000,30099.000000,30099.000000,30099.000000
mean,42.405528,1.226120,1.663610,4.524968,5.487093,4.772351,5.763015,22.771321
std,30.808996,0.739671,1.204007,1.831169,1.155895,1.844638,1.850774,122.235335
min,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,14.000000,1.000000,1.000000,3.000000,5.000000,3.000000,5.000000,1.000000
50%,38.000000,1.000000,2.000000,4.000000,6.000000,5.000000,6.000000,2.000000
75%,70.000000,1.000000,2.000000,6.000000,6.000000,6.000000,7.000000,7.000000
max,99.000000,9.000000,9.000000,9.000000,8.000000,8.000000,9.000000,4512.000000

PROCESAMIENTO Y ANÁLISIS DE DATOS

In [4]:
# Consulta: Obtener los nombres únicos de las provincias en el DataFrame
provincias = df['jurisdiccion_de_residencia_nombre'].unique()

In [5]:
#mostrar al usuario el nombre de las provincias del dataFrame, para que seleccione una y obtenga la informacion que
#requiere de dicha provincia
print("Solicitar datos de una provincia")

# Consulta: Obtener los nombres únicos de las provincias en el DataFrame
provincias = df['jurisdiccion_de_residencia_nombre'].unique()

# Mostrar los nombres únicos de las provincias
print("Nombres de las provincias presentes en el dataset:")
for pro in provincias:
    print(pro)

# Solicitar al usuario el ingreso de un provincia
provincia_ingresada = input("Ingrese el nombre de una provincia tal cual el listado anterior: ")

# Verificar si la provincia existe en el DataFrame
if provincia_ingresada in df['jurisdiccion_de_residencia_nombre'].unique():
    #creo el dataFrame con los registros de la provincia correspondiente
    registros = df[df['jurisdiccion_de_residencia_nombre'] == provincia_ingresada]
    # Solicitar al usuario el ingreso de una opcion
    print("Menu:")
    print("1- Cantidad de nacimientos")
    print("2-Cantidad de nacimientos simples")
    print("3-Cantidad de nacimientos dobles")
    opcion_ingresada = input("Ingrese una opcion del menu: ")
    opcion=int (opcion_ingresada)
    match opcion:
        case 1:
             print("Cantidad de nacimientos")
             suma_nacimientos=registros['cantidad_nacimientos'].sum()
             print("La cantidad de nacimientos en "+provincia_ingresada+" es: "+str(suma_nacimientos))

        case 2:
            print("Cantidad de nacimientos simples")
            # Inicializamos la variable 'sumaSimple' en 0
            sumaSimple = 0
            # Iteramos sobre las filas del DataFrame
            for index, row in registros.iterrows():
              if row['tipo_de_parto_id'] == 1:
                sumaSimple+= row['cantidad_nacimientos']
            print("La cantidad de nacimientos SIMPLES en "+provincia_ingresada+" es: "+str(sumaSimple))
        case 3:
            print("Cantidad de nacimientos dobles")
            # Inicializamos la variable 'sumaDobles' en 0
            sumaDobles = 0
            # Iteramos sobre las filas del DataFrame
            for index, row in registros.iterrows():
              if row['tipo_de_parto_id'] == 23:
                sumaDobles+= row['cantidad_nacimientos']
            print("La cantidad de nacimientos DOBLES en "+provincia_ingresada+" es: "+str(sumaDobles))
        case _:print("Error: La opcion ingresada no es correcta")


else:
      print("El provincia ingresada no se encuentra en el dataset.")

Solicitar datos de una provincia
Nombres de las provincias presentes en el dataset:
Formosa
Ciudad Aut. de Buenos Aires
Buenos Aires
Santa Fe
San Luis
Lugar no especificado
Salta
Neuquén
Río Negro
Misiones
Tucumán
Santa Cruz
Catamarca
Santiago del Estero
Chaco
La Rioja
La Pampa
Jujuy
Entre Ríos
Mendoza
Chubut
Corrientes
Córdoba
San Juan
Tierra del Fuego
Otro país
Ingrese el nombre de una provincia tal cual el listado anterior: Jujuy
Menu:
1- Cantidad de nacimientos
2-Cantidad de nacimientos simples
3-Cantidad de nacimientos dobles
Ingrese una opcion del menu: 3
Cantidad de nacimientos dobles
La cantidad de nacimientos DOBLES en Jujuy es: 0

CONSULTAS Y GRÁFICOS

RESULTADOS:

CONCLUSIONES: